<?xml version="1.0"?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="salesinventory" connectionString="Data Source=127.0.0.1;Initial Catalog=SalesAndInventory;User ID=sa;Password=p@$$w0rd"/>
    <add name="accounting" connectionString="Data Source=127.0.0.1;Initial Catalog=SpireAccounting;User ID=sa;Password=p@$$w0rd"/>
    <add name="hotel" connectionString="Data Source=127.0.0.1;Initial Catalog=HRM;User ID=sa;Password=p@$$w0rd"/>
    <add name="202.52.168.198_SalesAndInventory_Connection" connectionString="XpoProvider=MSSqlServer;data source=202.52.168.198;user id=eulz;password=123123;initial catalog=SalesAndInventory;Persist Security Info=true"/>
    <add name="localhost_SalesAndInventoryJFCLIVE_Connection" connectionString="XpoProvider=MSSqlServer;data source=localhost;user id=;password=;initial catalog=SalesAndInventoryJFCLIVE;Persist Security Info=true"/>
  </connectionStrings>
  
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/></startup></configuration>
